body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    background-color: rgb(0, 0, 0);
    color: #f2ecec;
}

#result {
    font-size: 20px;
}

h1 {

    font-size: 50px;
}

input {
    border-radius: 10%;
    background-color: #f2ecec;
}

.input:hover {
    background-color: #555; /* Darker background color on hover */
}


button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555; /* Darker background color on hover */
}

.stack-element {
    display: block;
    margin: 20px;
}